/*Estilo do formulario de avisos*/
.formAviso{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 560px;
    margin: 20px auto 15px auto;
    justify-content: center;
}

.areaOpcoes{
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 201, 201);
    border-radius: 5px;
    width: 300px;
    margin: 0px auto;
    position: relative;
    z-index: 1;
}

.areaOpcoes a{
    color: black;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
}

.areaOpcoes a:hover{
    background-color: #cfcfcc;
}

.area_campo_form{
    width: auto;
    height: auto;
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.area_campo_assunto{
    width: auto;
    height: 60px;
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.areaDate{
    width: 100px;
    height: 10px;
}

.linhaUnica{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px;
    width: 100%;
    height: auto;
}

.caixaInterna{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.texto_campo_form{
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px 15px;
}

.botao_campo_form{
    margin: 10px auto;
    width: 80px;
}