/*Estilo do formulario de avisos*/
.formAviso{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 560px;
    margin: 20px auto 15px auto;
    justify-content: center;
}

.areaOpcoes{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 5px;
    width: 200px;
    margin: 0px auto;
    position: relative;
    z-index: 1;
}

.areaOpcoes a{
    color: black;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
}


.area_campo_form{
    width: auto;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.area_campo_assunto{
    width: auto;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.areaDate{
    width: 100px;
    height: 10px;
}

.linhaUnica{
    display: flex;
    justify-content: space-around;
    font-size: large;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.caixaInterna{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex: 1 1 50%;
    flex-wrap: wrap;
}


.texto_campo_form{
    width: auto;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
}

.botao_campo_form{
    margin: 10px auto;
    width: 80px;
}