/*Estilo da área de conteudo do sistema de aviso*/
.cabeca_pagina{
    display: flex;
    border: solid 1px gray;
    border-radius: 20px;
    background-color: white;
    margin: 30px auto 30px auto;
    min-width: 600px;
    max-width: 900px;
}

.cabeca_pagina:hover{
    box-shadow: 0px 1px 6px 5px rgba(148, 147, 147, 0.3);
}

.exibicaoInformativos{
    min-width: 600px;
    max-width: 900px;
    margin: 0px auto 30px auto;
    border: solid 1px gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.exibicaoInformativos:hover{
     box-shadow: 0px 1px 6px 5px rgba(148, 147, 147, 0.3);
}

.areaTitulo{
    display: block;
}

.areaMaterial{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

/*Mensagem de carregação*/
.carregando{
    font-style: italic;
    font-size: 30px;
    padding: 50px;
    margin: 0px auto 30px auto;
    display: block;
}

/*Estilo de avisos*/
.estilo_aviso{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 10px;
    width: auto;
    height: auto;
    margin: 10px;
}

.estilo_aviso:hover{
    box-shadow: 0px 1px 6px 5px rgba(148, 147, 147, 0.3);
}

/*.primeira_area{
    border-radius: 10px 10px 0px 0px;
    padding: 14px;
    font-style: italic;
    font-size: 12px;
    text-align: left;
}*/

.segunda_area{
    border-radius: 10px 10px 0px 0px;
    padding: 14px;
    font-weight: bold;
    text-align: left;
  
}

.terceira_area{
    flex-grow: 1;
    border-radius: 0px 0px 10px 10px;
    padding: 14px;
    text-align: left;
    flex-direction: column;
    flex-wrap: wrap;
}

.azul_1{ background-color: #9FB3DF; }
.azul_2{ background-color: #9EC6F3; }
.azul_3{ background-color: #BDDDE4; }

.verde_1{ background-color: #618264; }
.verde_2{ background-color: #79AC78; }
.verde_3{ background-color: #B0D9B1; }

.laranja_1{ background-color: #F0A04B; }
.laranja_2{ background-color: #FFB38E; }
.laranja_3{ background-color: #FFCF9D; }

.roxo_1{ background-color: #8174A0; }
.roxo_2{ background-color: #A888B5; }
.roxo_3{ background-color: #EFB6C8; }

.botoesEdit{
    display: flex;
    margin-right: 100px;
    margin-top: 10px;
    text-align: right;
}
