/*Estilo do formulario de avisos*/
.formAviso{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    display: block;
    width: 80%;
    padding: 10px 10% 10px 10%;
}

.area_campo_form{
    width: auto;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
}

.conteudoOpcoes{
    width: 150px;
}

.linhaUnica{
    display: flex;
    justify-content: space-between;
}

.linhaitem1{
    width: 50%;
}

.linhaitem2{
    width: 50%;
}

.texto_campo_form{
    width: auto;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.botao_campo_form{
    margin-top: 10px;
    margin-bottom: 15px;
}