/*Estilo geral da página*/
body{
    background-color: white;
}

h1, h2{
    text-align: center;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label{
    font-size: 18px;
}

fieldset{
    border: solid 1px black;
    border-radius: 10px;
    padding: 0px;
    margin-bottom: 10px;
    display: block;
}

legend{
    text-align: left;
    margin-left: 20px;
    padding: 0px 6px 0px 6px;
    
}

input{
    border: none;
    outline: none; /*Essa propriedade remove o contorno padrão que aparece quando o input recebe foco. */
    text-align: center;
    padding: 5px;
    margin: 5px;
    width: 70%;
    height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input:focus{
    border-bottom: solid 1px;
}

textarea{
    border: none;
    outline: none;
    width: 90%;
    height: 150px;
    padding: 10px;
    resize: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

textarea:focus{
    border-bottom: solid 1px;
}

select{
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    padding: 5px;
    width: 120px;
    height: min-content;
   
}

button{
    border-radius: 5px;
    border: none;
    background-color: #06923E;
    color: white;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}