/*Estilo do formulario de avisos*/
.formAviso{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 560px;
    margin: 0px auto;
    justify-content: center;
}

.area_campo_form{
    width: auto;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
}

.conteudoOpcoes{
    width: 150px;
}

.areaDate{
    width: 100px;
    height: 10px;
}

.linhaUnica{
    display: flex;
    justify-content: space-around;
    font-size: large;
}

.caixaInterna{
    width: 50%;
    text-align: center;
}


.texto_campo_form{
    width: auto;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.botao_campo_form{
    margin: 10px auto 15px auto;
    width: 80px;
}