/*Estilo da área de conteudo do sistema de aviso*/
.cabeca_pagina{
    display: flex;
    border: solid 1px gray;
    border-radius: 20px;
    background-color: white;
    margin: 30px auto 30px auto;
    min-width: 600px;
    max-width: 900px;
}

.cabeca_pagina:hover{
    box-shadow: 0px 1px 6px 5px rgba(148, 147, 147, 0.3);
}

.area{
    height: auto;
    width: auto;
    display: block;
    text-align: center;
    min-height: 140px;
    min-width: 600px;
    max-width: 900px;
    margin: 0px auto 30px auto;
}

.areaMaterial{
    border: solid 1px gray;
    border-radius: 20px;
}

.areaMaterial:hover{
    box-shadow: 0px 1px 6px 5px rgba(148, 147, 147, 0.3);
}

/*Mensagem de carregação*/
.carregando{
    font-style: italic;
    font-size: 30px;
    padding: 50px;
    margin: 0px auto 30px auto;
    display: block;
}

/*Estilo de avisos*/
.estilo_aviso{
    margin: 20px 20px 20px 20px;
    display: flex;
    border-radius: 10px;
}

.estilo_aviso:hover{
    box-shadow: 0px 1px 6px 5px rgba(148, 147, 147, 0.3);
}


.primeira_area{
    width: 10%;
    border-radius: 10px 0px 0px 10px;
    padding: 14px;
    font-style: italic;
    font-size: 12px;
    text-align: left;
}

.segunda_area{
    width: 25%;
    padding: 14px;
    font-weight: bold;
    text-align: left;
  
}

.terceira_area{
    width: 55%;
    padding: 14px;
    text-align: left;
}

.quarta_area{
    width: 10%;
    border-radius: 0px 10px 10px 0px;
    padding: 14px;
    text-align: left;
}

.azul_1{ background-color: #9FB3DF; }
.azul_2{ background-color: #9EC6F3; }
.azul_3{ background-color: #BDDDE4; }

.verde_1{ background-color: #618264; }
.verde_2{ background-color: #79AC78; }
.verde_3{ background-color: #B0D9B1; }

.laranja_1{ background-color: #F0A04B; }
.laranja_2{ background-color: #FFB38E; }
.laranja_3{ background-color: #FFCF9D; }

.roxo_1{ background-color: #8174A0; }
.roxo_2{ background-color: #A888B5; }
.roxo_3{ background-color: #EFB6C8; }
