/*Barra lateral*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow-y: auto; /*Barra de rolagem na vertical*/
}
  
.sidebar a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 21px;
    color: black;
    display: block;
    transition: 0.3s;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 80px;
    font-size: 20px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #789DBC;
    color: white;
    padding: 8px 10px;
    border: none;
}

.openbtn:hover {
    background-color: rgb(147, 147, 147);
}
  
#main {
    transition: margin-left 0.5s;
    padding: 16px;
}
  
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/*MUDAR OS ICONES DO PORTAL INFORMATIVO*/
/*Estilo dos icones usados na aplicação*/
.icon_fecha{
    width: 26px;
    border-radius: 20px;
}

.icon_fecha:hover{
    background-color: lightgray;
}

.icon_cria{
    width: 35px;
    border-radius: 5px;
    background-color: #789DBC;
    margin-left: 15px;
    padding: 0px 5px;
}

.icon_cria:hover{
    background-color: rgb(147, 147, 147);
}

.icon_menu{
    width: 20px;
    height: 25px;
    border-radius: 5px;
}

.sessao {
    display: flex;
    align-items: center; /* Alinha o ícone e o texto verticalmente */
    gap: 20px; /* Adiciona um espaço de 8px entre o ícone e o texto */
}

.sessao:hover{
    background-color: rgb(237, 237, 237);
}

.deslogar{
    margin: 280px 0px 20px 0px;
    display: flex;
    align-items: center; 
    gap: 20px; 
    
}

.deslogar:hover{
    background-color: rgb(237, 237, 237);
}

.textoDeslogar{
    color: #EA3323;
    display: inline-block;
    vertical-align: middle;
}

.icone{
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}

.textoSessao{
    display: inline-block;
    vertical-align: middle;
}
