<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avisos Info V IFRN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="inicial">
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn">X</a>
        <a href="#">Avisos</a>
          <hr>
        <a href="#">Avaliações</a>
        <a href="#">Material de Estudo</a>
        <a href="#">Descrição</a>
      </div>
     
      <header style="display: flex;">
          <div id="main">
              <button class="openbtn">☰</button>  
          </div>
          <h1>Portal Avisos de INFO V  - Tela lideres</h1>
      </header>
          <hr>
          <br>
      
      <article class="area">
            <form class="formAviso">
                <h1>Aviso</h1>
              
        
                    <label for="tipo_aviso">Aviso: </label>
                    <select id="tipo_aviso" class="campo_form">
                        <option value="aviso">Aviso</option>
                        <option value="material">Material Didatico</option>
                        <option value="avaliacao">Avaliação</option>
                    </select>
                        <br>

                    <label for="assunto_aviso">Assunto: </label><input type="text" placeholder="Assunto do aviso" id="assunto_aviso" class="campo_form">
                        <br>

                    <textarea placeholder="Aviso" id="assunto" class="campo_form"></textarea>
                        <br>
                
                    <button type="submit" id="criaAviso">Criar</button>
               
            </form>
      </article>
    
    <script src="{{url_for('static', filename='barra_lateral.js')}}"></script>
</body>
</body>
</html>