<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avisos Info V IFRN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="inicial">
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn">X</a>
        <a href="#"><button>+</button></a>
          <hr>
        <a href="http://127.0.0.1:5000/lideres">Mural</a>
        <a href="#">Avisos</a>
        <a href="#">Avaliações</a>
        <a href="#">Material Didatico</a>
      </div>
     
      <header style="display: flex;">
          <div id="main">
              <button class="openbtn">☰</button>  
          </div>
          <h1>Portal Avisos de INFO V  - Tela lideres</h1>
      </header>
          <hr>
          <br>
      
      <article class="area">
            <form class="formAviso" method="POST" action="/submit">
                <h1>Aviso</h1>
              
                <fieldset class="area_campo_form">
                    <legend><label for="tipo_aviso">Aviso</label></legend>
                        <select id="tipo_aviso" name="tipo_aviso" class="campo_form">
                            <option value="aviso">Aviso</option>
                            <option value="material">Material Didatico</option>
                            <option value="avaliacao">Avaliação</option>
                        </select>
                </fieldset>

                <fieldset class="area_campo_form">
                    <legend><label for="assunto_aviso">Assunto</label></legend>
                    <input type="text" placeholder="Assunto do aviso" id="assunto_aviso" name="assunto_aviso" class="campo_form">
                </fieldset>

                <fieldset>
                    <legend>Texto</legend>
                    <textarea placeholder="Aviso" id="texto" name="texto" class="campo_form"></textarea>
                </fieldset>

                <button type="submit" id="criaAviso">Criar</button>
            </form>
      </article>
    
    <script src="{{url_for('static', filename='js/barra_lateral.js')}}"></script>
</body>
</body>
</html>