<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avisos Info V IFRN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="cadastro">
        <form id="loginForm" class="formLogin">
            
            <h1>Login</h1>
           
            <fieldset class="area_campo_login">
                <legend><label for="nome">Aluno</label></legend>
                <input type="text" id="nome" placeholder="Digite seu Nome">
            </fieldset>
               

            <fieldset class="area_campo_login">
                <legend><label for="matricula">Matrícula</label></legend>
                 <input type="text" id="matricula" placeholder="Digite sua Matrícula">
            </fieldset>
                

            <fieldset class="area_campo_login">
                <legend><label for="turma">Turma</label></legend>
                <select id="turma">
                    <option value="">------</option>
                    <option value="infov1">Info 1V</option>
                    <option value="infov2">Info 2V</option>
                    <option value="infov3">Info 3V</option>
                    <option value="infov4">Info 4V</option>
                </select>
            </fieldset>    
                

            <button type="submit">ACESSAR</button>
        </form>
    

</body>
</html>
