<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Informativo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_login.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icones/LogoPI.png') }}" type="image/x-icon">
</head>
<body>
    <form id="loginForm" class="formLogin" method="POST" action='/submit_login'>        
        <h2>Login</h2> <hr>
        <fieldset class="area_campo_login area_matricula">
            <legend> <label for="matricula">Matrícula</label> </legend>
                <input type="text" id="matricula" name="matricula" placeholder="Digite sua Matrícula">
            </fieldset>
        <fieldset class="area_campo_login senha_turma">
            <legend> <label for="senha">Senha</label> </legend>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha">
        </fieldset>    
        <button type="submit" class="botao_campo_login">ACESSAR</button>
    </form>

    <script type="module" src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
