<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Informativo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_barraLateral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_avisos.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icones/portal.ico') }}" type="image/x-icon">
    <script>
        //const STATIC_URL = "{{ url_for('static', filename='') }}";
    </script>
</head>
<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn">
            <img src="{{ url_for('static', filename='icones/fechar.svg')}}" alt="Icone de fechar" class="icon_fecha">
        </a>

        <a>{{nome}}</a>
        <hr>

        <a href="#">Mural</a>
        <a href="#">Avisos</a>
        <a href="#">Avaliações</a>
        <a href="#">Eventos</a>
        <a href="#">Material Didatico</a>
        <a href="/logout" class="deslogar"> 
            <img src="{{ url_for('static', filename='icones/Deslogar.svg')}}" alt="Botão de Deslogar" class="icone_deslogar"><span style="margin-left: 10px;">Sair</span>
        </a>
    </div>
     
    <header class="cabeca_pagina">
        <div id="main">
             <img src="{{ url_for('static', filename='icones/menu.svg')}}" alt="Icone de menu" class="icon_menu openbtn">
        </div>
        <h1>Portal Informativo - INFO V</h1>
    </header>

      <article class="area">
            <span class="exibicaoMural"></span>
            <span class="exibicaoAvisos"></span>
            <span class="exibicaoAvaliacoes"></span>
            <span class="exibicaoEventos"></span>
            <span class="exibicaoMateriais"></span>
      </article>

    <script type="module" src="{{ url_for('static', filename='js/barra_lateral.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/roteamento.js') }}"></script>
</body>
</html>
