<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avisos Info V IFRN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_barraLateral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_avisos.css') }}">
</head>
<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn">
            <img src="{{ url_for('static', filename='icones/fechar.svg')}}" alt="Icone de fechar" class="icon_fecha">
        </a>

        <a>
            <img src="{{ url_for('static', filename='icones/adicionar.svg')}}" alt="Icone de cria" class="icon_cria" id="botaoOpcoes">
        </a>
            <div id="conteudoOpcoes" class="conteudoOpcoes">
                <a href="http://127.0.0.1:5000/usuario/form_avisos">Avisos</a>
                <a href="#">Avaliações</a>
                <a href="#">Eventos</a>
                <a href="#">Material Didatico</a>
            </div>
          <hr>

        <a href="#">Mural</a>
        <a href="#">Avisos</a>
        <a href="#">Avaliações</a>
        <a href="#">Eventos</a>
        <a href="#">Material Didatico</a>
      </div>
    
      <header class="cabeca_pagina">
          <div id="main">
                <img src="{{ url_for('static', filename='icones/menu.svg')}}" alt="Icone de menu" class="icon_menu openbtn">
          </div>
          <h1>Portal Avisos de INFO V - Tela dos lideres</h1>
      </header>
          
      
      <article class="area">
          <div class="areaConteudo">
                <div class="areaMaterial">
                    <h2>Avisos</h2>
                        <hr>
                    <span class="exibicaoAvisos">{{aviso}}</span>
                </div>

                <div class="areaMaterial">
                    <h2>Avaliações</h2>
                        <hr>
                    <span>{{avaliacao}}</span>
                </div>

                <div class="areaMaterial">
                    <h2>Eventos</h2>
                        <hr>
                    <span>{{evento}}</span>
                </div> 

      
                <div class="areaMaterial">
                    <h2>Material de Estudo</h2>
                        <hr>
                    <span>{{material}}</span>
                </div>   
          </div>
      </article>

      <script src="{{ url_for('static', filename='js/barra_lateral.js') }}"></script>
      <script src="{{ url_for('static', filename='js/exibicao_avisos.js') }}"></script>
</body>
</html>